<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Dashboard <% if(role === 'admin') { %>Admin<% } %></title>
</head>
<body class="d-flex">
  <div class="col-3 vh-100 bg-primary d-flex flex-column align-items-center py-5">
    <div class="bg-white w-100 mb-2" style="max-width: 150px; height: auto; border-radius: 999px;">
      <img src="/images/logo-rb.png" alt="" class="w-100">
    </div>
    <h3>Rabbaanii Market</h3>
    <div class="d-flex flex-column mt-5 gap-3">
      <a class="text-black fs-5 text-center text-decoration-none" href="/">
        <button type="button" class="btn btn-outline-light w-100">Semua Produk</button>
      </a>
      <a class="text-black text-center fs-5 text-decoration-none" href="/foods">
        <button type="button" class="btn btn-outline-light w-100">Makanan</button>
      </a>
      <a class="text-black text-center fs-5 text-decoration-none" href="/drinks">
        <button type="button" class="btn btn-outline-light w-100">Minuman</button>
      </a>
    </div>
  </div>
  <div class="col-9 ps-4 bg-light" style="max-height: 100vh; overflow-y: scroll; overflow-x: hidden;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 d-flex justify-content-end">
        <% if(role === 'admin') { %>
        <h4 class="me-2 text-bg-success py-1 px-2 mt-2 rounded">Admin</h4>
        <a class="btn btn-outline-danger" href="/logout"><i class="bi-cart-fill"></i>Logout</a>
        <% }else { %>
        <a class="btn btn-outline-dark" href="/login"><i class="bi-cart-fill"></i>Login as Admin</a>
        <% } %>
      </div>
    </nav>
    <!-- Header-->
    <div class="bg-dark">
          <div id="carouselExampleInterval" class="carousel slide w-100" data-bs-ride="carousel">
            <div class="carousel-inner w-100">
              <div class="carousel-item w-100 active" style="height: 360px;" data-bs-interval="2000">
                <img src="https://www.highlightpr.co.uk/wp-content/uploads/2018/01/iStock-friends-and-family-enjoying-dinner-small.jpg" class="d-block w-100" style="object-fit: cover; object-position: center; filter: brightness(50%);" alt="...">
              </div>
              <div class="carousel-item w-100" style="height: 360px;" data-bs-interval="2000">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhDMHdkc7XrZZS0LH-A0JXocF1R5xpan0AfQaTs1XOFWe1ASqG51FjiOJYUOZNFc8MsapZAEPej0XnM5-uYOE5hM7uH85yoMmCS1k7PsgoWqd-7rLdMRM-b2J30Ofu-DRTF3fwNe_nUxgVLVk9M-7SU6SERTncPRxfy-eo6z3vdBtI7sQJjmCBvqikd/w640-h360/Background%20Makanan%20Full%20HD%20Nocopyright%20(1).jpg" class="d-block w-100" style="object-fit: cover; object-position: center; filter: brightness(50%);" alt="...">
              </div>
              <div class="carousel-item w-100" style="height: 360px;" data-bs-interval="2000">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgdjBPtpeLbCsEQ8elU9rF3_MK141h0jQHBIC_40bdl5AjGtTWiqXXxlN75WoItuB3WbR9CRDJcu1uwwUn6VfmE2tGSVJRdSFwp7sw7IiVPDRoP0smodSdPVqwjPEdW61vwqgBguY48Os0H0qWcRuRalv6zWZvQsmR02bzWdXW692-vc_JcPryayjZp/w640-h360/Background%20Makanan%20Full%20HD%20Nocopyright%20(5).jpg" class="d-block w-100" style="object-fit: cover; object-position: center; filter: brightness(50%);" alt="...">
              </div>
            </div>
          </div>
    </div>
    <!-- Section-->
    <section class="pb-5">
        <div class="container mt-5">
          <div class="w-100 d-flex justify-content-between mb-5">
            <h2><%= product %></h2>
            <% if (role === 'admin') { %>
              <a class="btn btn-outline-dark" href="/addProduct">Add Product</a>
            <% } %>
          </div>
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 justify-content-center">
            <% if(data.length){ for(let i = 0; i < data.length; i++){ %>
            <div class="col mb-5">
              <div class="card h-100">
                <img class="card-img-top" src="/images/<%= data[i].image %>" alt="<%= data[i].name_product %>" />
                <div class="card-body py-4 px-3">
                  <div class="text-center">
                    <h5 class="fw-bolder"><%= data[i].name_product %></h5>
                            Rp<%= data[i].price %>
                  </div>
                  <div class="card-footer mt-2 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" style="font-size: 0.8rem;" href="/detailProduct/<%= data[i].id %>">Detail Product</a></div>
                    <% if(role === 'admin') { %>
                      <div class="text-center mt-2"><a class="btn btn-outline-warning mt-auto" style="font-size: 0.8rem;" href="/editProduct/<%= data[i].id %>">Edit Product</a></div>
                      <div class="text-center mt-2"><a class="btn btn-outline-danger mt-auto" style="font-size: 0.8rem;" onclick="return confirm('Are you sure?')" href="/delete/<%= data[i].id %>">Delete Product</a></div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% }}else { %>

            <div class="alert alert-danger" role="alert">
                Data Tidak Ditemukan !
            </div>
            <% } %>
            
          </div>
        </div>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>